.hide-mobile {
  display: inline-block;
}

.ant-card-cover {
  position: relative;
}

.tag-name {
  position: absolute;
  bottom: 1rem;
  display: inline-block !important;
  width: auto !important;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
}

@media (width <= 480px) {
  .hide-mobile {
    display: none !important;
  }
}

.card-table-container {
  overflow-x: scroll;
  border-radius: 8px;
}

.card-table-container::-webkit-scrollbar {
  background-color: transparent;
}

.card-item-store.ant-card .ant-card-body {
  padding: 0;
}