.title-card {
  margin-bottom: 0 !important;
}

.subtitle-card {
  margin: 0 !important;
  color: #9e9e9e !important;
}

.card-info {
  height: 100%;
}

.quantity-wrapper {
  width: 40px;
  text-align: center;
}

.img-card {
  border-radius: 0.5rem;
  margin: 0 auto;
}

@media screen and (max-width:768px) {
  .img-card {
    margin-bottom: 1rem;
  }
}