.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: #fff;
  padding: 1rem 1.25rem;
}

.navbar.navbar-dark {
  background-color: #141414;
}

.logo {
  width: 40px;
  margin-right: 0.5rem;
}

.brand {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.logo-title {
  margin: 0;
  line-height: 2rem;
}

.logo-title.logo-title-dark {
  color: #fff;
}

.cart-item-list {
  width: 300px;
  max-height: 400px;
  overflow-y: scroll;
}

.btn-checkout-wrapper {
  border-top: 1px solid #eee;
  background-color: #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media (width <= 992px) {
  .logo-title {
    display: none;
  }
}
