.slick-prev, .slick-next {
  z-index: 10;
}
.slick-prev:before, .slick-next:before {
  color: black;
  display: none;
}

.slick-prev:focus, .slick-next:focus {
  background-color: white;
  color: black !important;
  display: none;
}

.slick-prev:hover, .slick-next:hover {
  background-color: #eee;
  color: black !important;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

.slick-btn-nav-custom {
  height: 40px;
  width: 40px !important;
  background-color: #fff;
  color: black;
  border-radius: 50%;
}